body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: lightblue;
    background: linear-gradient(90deg, rgba(42,181,225,1) 0%, rgba(25,197,252,1) 50%);
    text-decoration-color: antiquewhite;
    color: antiquewhite;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
    text-decoration-color: antiquewhite;
  }
  
  h1 {
    font-size: 36px;
    color: #007bff;
    transition: color 0.3s ease;
    cursor: pointer;
    margin: center;
    text-decoration-color: antiquewhite;
  }
  
  h1:hover {
    color: #0056b3;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    border: 3px solid #007bff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration-color: antiquewhite;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration-color: antiquewhite;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration-color: antiquewhite;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
  